body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('fundo.jpg');
    min-height: 115vh;
    margin: 30px;
}

.logo {
    border-radius: 999px;
    width: 200px;
    height: 200px;
    align-self: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container {
    background: #d8e7ff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(157, 216, 255);
    text-align: center;
    width: 1300px;
    justify-content: center;
    margin-bottom: 1rem; /* espaço abaixo da container */
}

.container h1 {
    color: rgba(5, 27, 73, 0.945);
}

.servicos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #0c1c24;
    border-radius: 16px;
    width: 1300px;
    margin-top: 1rem;
}

.card-servico {
    background-color: #000;
    color: #fff;
    border: 2px solid #00e0ff;
    border-radius: 16px;
    padding: 1.5rem;
    width: 500px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 224, 255, 0.3);
    transition: transform 0.2s ease;
}

.card-servico:hover {
    transform: scale(1.03);
}

.card-servico h3 {
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-servico p {
    margin-bottom: 0;
    font-size: 1rem;
}
